<ion-view view-title="Positions">
  <ion-nav-buttons side="right">
    <button class="button button-icon ion-android-add-circle" ng-click="add()"> </button>
  </ion-nav-buttons>

  <ion-content>
    <ion-list>
      <ion-item class="item-divider item-remove-animate item-avatar item-icon-right">
        <div class="row">
          <div class="col">Ticker</div>
          <div class="col">Quantity</div>
          <div class="col">Cost</div>
        </div>
      </ion-item>

      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="trade in trades" type="item-text-wrap">
        <div class="row">
          <h2 class="col">{{trade.ticker}}</h2>
          <p class="col">{{trade.quantity}}</p>
          <p class="col">{{trade.total_cost}}</p>
        </div>

        <ion-option-button class="button-assertive" ng-click="delete(trade)"> Delete </ion-option-button>
        <ion-option-button class="button-energized" ng-click="update(trade)"> Update </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
