<ion-view view-title="Positions">
  <ion-nav-buttons side="right">
    <button class="button button-icon ion-android-add-circle" ng-click="add()"> </button>
  </ion-nav-buttons>

  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="trade in trades" type="item-text-wrap">
        <h2>{{trade.ticker}}</h2>
        <p>{{trade.quantity}}</p>
        <p>{{trade.total_cost}}</p>

        <ion-option-button class="button-energized" ng-click="update(trade)"> Update </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
