<ion-view view-title="Positions">
  <ion-nav-buttons side="right">
    <button class="button button-icon ion-android-add-circle" ng-click="add()"> </button>
  </ion-nav-buttons>

  <div class="bar bar-subheader row center-align full-height">
    <div class="col col-33 h4">${{portfolio_total_market_value | number:2}}</div>

    <div class="col col-33 h5 normal"
         amount value="portfolio_daily_change/portfolio_total_cost*100" post="'%'"></div>

    <div class="col col-33 medium">
      <div amount value="portfolio_total_market_value - portfolio_total_cost" pre="'$'"></div>
      <div amount value="(portfolio_total_market_value - portfolio_total_cost)/
                          portfolio_total_cost*100" post="'%'"></div>
    </div>
  </div>

  <ion-content>
    <ion-refresher
      pulling-text="Refresh"
      pulling-icon="ion-loop"
      on-refresh="doRefresh()">
    </ion-refresher>

    <ion-list >

    <div class="list card rounded card-position-summary 
                {{$first ? 'first-position-margin' : ''}}"
         ng-repeat="(ticker,trades) in trades | orderBy:'ticker' | groupBy: 'ticker'" >


      <ion-item class="item-position-summary" on-tap="toggleTicker(ticker)">
        <div ng-repeat="quantity in [(trades | map: 'quantity' | sum )]">
        <div ng-repeat="cost in [(trades | map: 'total_cost' | sum )]">
          <div position-summary ticker="ticker" quantity="quantity" cost="cost">
          </div>
        </div>
        </div>
      </ion-item>

      <div class="position-details-wrap animate-show" ng-show="selectedTicker==ticker">
        <ion-item class="item-avatar item-divider">
          <div class="row item-divider" >
            <div class="col">Quantity</div>
            <div class="col">Cost</div>
          </div>
        </ion-item>
        <ion-item class="item-avatar" ng-repeat="trade in trades">
          <div class="row">
            <p class="col">{{trade.quantity}}</p>
            <p class="col">{{trade.total_cost | number: 2}}</p>
          </div>
          <ion-option-button class="button-assertive" ng-click="delete(trade)"> 
            Delete 
          </ion-option-button>
          <ion-option-button class="button-energized" ng-click="update(trade)"> 
            Update 
          </ion-option-button>
        </ion-item>
      </div>
    </div>

    </ion-list>
  </ion-content>
</ion-view>
