<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Positions Tab -->
  <ion-tab title="Positions" icon-off="ion-ios-list-outline" icon-on="ion-ios-list" href="#/tab/positions">
    <ion-nav-view name="tab-positions"></ion-nav-view>
  </ion-tab>

  <!-- Deposits Tab -->
  <ion-tab title="Deposits" icon-off="ion-card" icon-on="ion-card" href="#/tab/deposits">
    <ion-nav-view name="tab-deposits" ></ion-nav-view>
  </ion-tab>


</ion-tabs>
