/* Empty. Add your own CSS if you like */

.rounded {
  border-radius:10px;
}

.item-position-summary {
  padding-top: 0px;
  padding-bottom: 0px;
}

.position-details-wrap {
  padding-bottom:0px;
}

.right-align {
  text-align:right;
}
