/* Empty. Add your own CSS if you like */

.rounded {
  border-radius:10px;
}

.item-position-summary {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left:5px;
  padding-right:5px;
}

.card-position-summary {
  margin-bottom: 14px !important;
  margin-top: 14px !important;
}

.position-details-wrap {
  padding-bottom:0px;
}

.right-align { text-align:right; }
.center-align { text-align:center;}

.full-height { height:60px !important; }

.first-position-margin { margin-top:70px !important;}

.medium { font-size:14px; }

.normal { font-size:16px;}

.position-summary-row {
  padding-top: 0px;
  padding-bottom: 0px;
}

.ticker {
  font-size:16px;
}

@media all and (max-width: 600px) {
  .show-wide { display:none; }
}

